
@media screen and (min-width: 1800px){
	#lobby {
		margin-left: auto;
		margin-right: auto;
	  }
}

@media screen and (min-width: 1600px) and (max-width: 1799px) {
	#lobby {
        -moz-transform: scale(.92);
        left: -90px;
        top: -60px;
	  }
}

@media screen and (min-width: 1600px) and (max-width: 1699px) {
	#lobby {
        -moz-transform: scale(.9);
        left: -100px;
        top: -100px;
	  }
}
@media screen and (min-width: 1500px) and (max-width: 1599px) {
	#lobby {
        -moz-transform: scale(.8);
        left: -190px;
        top: -120px;
	  }
}

@media screen and (min-width: 1400px) and (max-width: 1499px) {
	#lobby {
        -moz-transform: scale(0.79);
        left: -200px;
        top: -120px;
	  }
}

@media screen and (min-width: 1350px) and (max-width: 1399px) {
	#lobby {
        -moz-transform: scale(0.75);
        left: -250px;
        top: -140px;
	  }
}

@media screen and (min-width: 1150px) and (max-width: 1350px) {
	#lobby {
        -moz-transform: scale(0.67);
        left: -330px;
        top: -180px;
	  }
}

@media screen and (min-width: 1100px) and (max-width: 1149px) {
	#lobby {
        -moz-transform: scale(0.64);
        left: -350px;
        top: -200px;
	  }
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
	#lobby {
        -moz-transform: scale(0.56);
        left: -430px;
        top: -240px;
	  }
}

.zoom2 {
	/* transition: all .5s ease-in-out; */
	transition: transform .5s; 
}
.zoom2:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom3 {
	/* transition: all .5s ease-in-out; */
	transition: transform .5s; 
}
.zoom3:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

ul#lobby{
    list-style: none;
    width: 1920px;
	height: 1080px;
    position: relative;
	background: url(../assets/images/lobby/lobby.jpg) no-repeat center;
	background-size: contain;
  
}

ul#lobby li{
	position: absolute;
}

.aa1 {
    width: 791px;
    height: 793px;
    bottom: 199px;
    left: 587px;
    background-image: url(../assets/images/lobby/a1.png);
	background-size: cover;
}

.g1 {
    width: 480px;
    height: 860px;
    bottom: 160px;
    left: 490px;
    background-image: url(../assets/images/lobby/g1.png);
	background-size: cover;
}
.g2 {
    width: 480px;
    height: 860px;
    bottom: 160px;
    left: 995px;
    background-image: url(../assets/images/lobby/g2.png);
	background-size: cover;
}

.l0 {
    width: 297px;
    height: 73px;
    bottom: 952px;
    left: 810px;
    background-image: url(../assets/images/krad/pnhrs-1.png);
	background-size: cover;
}

.l1 {
    width: 50px;
    height: 50px;
    bottom: 893px;
    left: 810px;
    background-image: url(../assets/images/krad/dost.png);
	background-size: cover;
}
.l2 {
    width: 50px;
    height: 50px;
    bottom: 893px;
    left: 860px;
    background-image: url(../assets/images/krad/pchrd.png);
	background-size: cover;
}
.l3 {
    width: 50px;
    height: 50px;
    bottom: 893px;
    left: 910px;
    background-image: url(../assets/images/krad/zchrd.png);
	background-size: cover;
}
.l4 {
    width: 50px;
    height: 50px;
    bottom: 893px;
    left: 960px;
    background-image: url(../assets/images/krad/up.png);
	background-size: cover;
}
.l5 {
    width: 50px;
    height: 50px;
    bottom: 893px;
    left: 1010px;
    background-image: url(../assets/images/krad/doh.png);
	background-size: cover;
}
.l6 {
    width: 50px;
    height: 50px;
    bottom: 893px;
    left: 1060px;
    background-image: url(../assets/images/krad/ched.png);
	background-size: cover;
}

.a-1 {
    width: 236px;
    height: 131px;
    bottom: 802px;
    left: 463px;
    background-image: url(../assets/images/lobby/1.png);
	background-size: cover;
}

.a-2 {
    width: 302px;
    height: 173px;
    bottom: 660px;
    left: 809px;
    background-image: url(../assets/images/lobby/2.png);
	background-size: cover;
}


.a-3 {
    width: 236px;
    height: 131px;
    bottom: 802px;
    left: 1225px;
    background-image: url(../assets/images/lobby/3.png);
	background-size: cover;
}

.d1 {
    width: 218px;
    height: 56px;
    bottom: 578px;
    left: 451px;
    background-image: url(../assets/images/lobby/d1.png);
	background-size: cover;
}

ul#lobby li.d1:hover {
	/* background-position: 0 -950px; */
    bottom: 578px;
    left: 451px;
    background-image: url(../assets/images/lobby/d1-a.png);
	background-size: cover;
}

.d2 {
    width: 218px;
    height: 56px;
    bottom: 578px;
    left: 1278px;
    background-image: url(../assets/images/lobby/d2.png);
	background-size: cover;
}

ul#lobby li.d2:hover {
	/* background-position: 0 -950px; */
    bottom: 578px;
    left: 1278px;
    background-image: url(../assets/images/lobby/d2-a.png);
	background-size: cover;
}


#wew {
    top: 20px;
    left: 20px;
    position: absolute;
}