
ul#lobby{
	list-style: none;
	width: 1280px;
	height: 720px;
	background: url(../assets/images/lobby/lobby.jpg);
    background-size: cover;
    margin-top: 0;
    margin-left: 0;
	/* margin: auto; */
}
