#clouds{
    padding: -150px 0;
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;
    
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    
    position: relative; 
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute; 
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;
    
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.4;
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.3; /*opacity proportional to the size*/
    
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -200px; top: -150px;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.3; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px; top: -250px;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.3; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.3; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}

.container-sun{
text-align:center;
margin-top: -20px;
margin-left: -170px;
}
/* the svg element */
.svg-sun{
width:70px;
height:70px;

-webkit-transform-origin: center center;
-moz-transform-origin: 50% 50%;
-o-transform-origin: center center;
-ms-transform-origin: center center;
transform-origin:50% 50%;

-webkit-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
-moz-animation: spin 25s linear infinite, sun-glow 3s 0s linear infinite;
-o-animation:spin 25s linear infinite, sun-glow 3s 0s linear infinite;
-ms-animation: spin 25s linear infinite, sun-glow 3s 0s ease-in-out infinite;
animation: spin 25s linear infinite,sun-glow 3s 0s linear infinite;

}
/* the circle element in the svg itself */
#sun{
stroke-width:18;
stroke-dasharray:2;
stroke-dashoffset:2;
}
/* animation for the sun glowing effect */
@-webkit-keyframes sun-glow { 
0% { fill: #f1c40f; stroke:#f1c40f;}
50% { fill: #e67e22; stroke:#e67e22;}
100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-moz-keyframes sun-glow { 
0% { fill: #f1c40f; stroke:#f1c40f;}
50% { fill: #e67e22; stroke:#e67e22;}
100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-o-keyframes sun-glow { 
0% { fill: #f1c40f; stroke:#f1c40f;}
50% { fill: #e67e22; stroke:#e67e22;}
100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-ms-keyframes sun-glow { 
0% { fill: #f1c40f; stroke:#f1c40f;}
50% { fill: #e67e22; stroke:#e67e22;}
100% { fill: #f1c40f; stroke:#f1c40f;}
}
@keyframes sun-glow { 
0% { fill: #f1c40f; stroke:#f1c40f;}
50% { fill: #e67e22; stroke:#e67e22;}
100% { fill: #f1c40f; stroke:#f1c40f;}
}

/* start spin animation */
@-webkit-keyframes spin{
100% {
-webkit-transform: rotate(360deg);
}
}
@-moz-keyframes spin{
100% {
-moz-transform: rotate(360deg);
}
}
@-o-keyframes spin{
100% {
-o-transform: rotate(360deg);
}
}
@-ms-keyframes spin{
100% {
-ms-transform: rotate(360deg);
}
}
@keyframes spin{
100% {
transform: rotate(360deg);
}
}

