
.bgback {
    /* background-image: url(../images/landing/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;  */
    background-color: #4ea8ff;
}

.nobgback{
    /* background-color: #4ea8ff; */
    overflow: hidden;
}

@media screen and (min-width: 1900px){
	#map {
		-moz-transform: scale(1.3);
		margin-left: auto;
		margin-right: auto;
	  }
	.container-sun {
		margin-top:20px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
	#map {
		margin-left: auto;
		margin-right: auto;
		margin-top: -120px;
	  }
  }

  @media screen and (min-width: 1000px) and (max-width: 1199px) {
	#map {
		margin-left: auto;
		margin-right: auto;
		margin-top: -120px;
		-moz-transform: scale(0.8);
	  }
  }

  @media screen and  (min-width: 320px) and (max-width: 768px) {
	#map {
		margin-left: auto;
		margin-right: auto;
		margin-top: -120px;
		-moz-transform: scale(0.4);
	  }
  } 



.zoom {
	/* transition: all .5s ease-in-out; */
	transition: transform .5s; 
}
.zoom:hover {
	transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

ul#map{
	list-style: none;
	width: 1250px;
	height: 670px;
    position: relative;
    background-color: red;
	background: url(../../assets/images/landing/bg2.png) no-repeat center;
	background-size: contain;
	/* margin: auto; */
}

ul#map li{
	position: absolute;
}


.merloquet {
	width: 83px;
	height: 62px;
	bottom: 441px;
	left: 924px;
}

ul#map li.merloquet:hover {
	/* background-position: 0 -950px; */
	bottom: 441px;
	left: 924px;
    background-image: url(../../assets/images/landing/new/merloquet.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.cityhall {
	width: 150px;
	height: 140px;
	bottom: 386px;
	left: 805px;
}

ul#map li.cityhall:hover{
    /* background-position: 0 -950px; */
    width: 150px;
    height: 130px;
    background-image: url(../../assets/images/landing/new/cityhall.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.sm {
	width: 120px;
	height: 85px;
	bottom: 411px;
	left: 677px;
}

ul#map li.sm:hover {
    /* background-position: 0 -950px; */
	bottom: 411px;
	left: 677px;
    background-image: url(../../assets/images/landing/new/sm.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.kcc {
	width: 130px;
	height: 95px;
	bottom: 309px;
	left: 843px;
}

ul#map li.kcc:hover  {
    /* background-position: 0 -950px; */
    width: 130px;
    height:95px;
    background-image: url(../../assets/images/landing/new/kcc.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.adzu {
	width: 213px;
	height: 133px;
	bottom: 284px;
	left: 629px;
}

ul#map li.adzu:hover {
    /* background-position: 0 -950px; */
	bottom: 284px;
	left: 629px;
    background-image: url(../../assets/images/landing/new/adzu.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.fortpillar {
	width: 181px;
	height: 105px;
	bottom: 206px;
	left: 799px;
}

ul#map li.fortpillar:hover {
    /* background-position: 0 -950px; */
	bottom: 206px;
	left: 799px;
    background-image: url(../../assets/images/landing/new/fortpillar.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.barter {
	width: 108px;
	height: 77px;
	bottom: 380px;
	left: 576px;
}

ul#map li.barter:hover  {
    /* background-position: 0 -950px; */
	bottom: 380px;
	left: 576px;
    background-image: url(../../assets/images/landing/new/barter.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.police {
	width: 62px;
	height: 74px;
	bottom: 286px;
	left: 930px;
}

ul#map li.police:hover {
    /* background-position: 0 -950px; */
   	bottom: 286px;
	left: 930px;
    background-image: url(../../assets/images/landing/new/police.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.airport {
	width: 142px;
	height: 79px;
	bottom: 423px;
	left: 267px;
}

ul#map li.airport:hover {
    /* background-position: 0 -950px; */
   	bottom: 423px;
	left: 267px;
    background-image: url(../../assets/images/landing/new/airport.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.zcmc {
	width: 118px;
	height: 78px;
	bottom: 362px;
	left: 200px;
}

ul#map li.zcmc:hover {
    /* background-position: 0 -950px; */
   	bottom: 362px;
	left: 202px;
    background-image: url(../../assets/images/landing/new/zcmc.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.brent {
	width: 134px;
	height: 80px;
	bottom: 334px;
	left: 422px;
}

ul#map li.brent:hover {
    /* background-position: 0 -950px; */
   	bottom: 334px;
	left: 422x;
    background-image: url(../../assets/images/landing/new/brent.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.ciudad {
	width: 135px;
	height: 97px;
	bottom: 260px;
	left: 422px;
}

ul#map li.ciudad:hover {
    /* background-position: 0 -950px; */
   	bottom: 260px;
	left: 422px;
    background-image: url(../../assets/images/landing/new/ciudad.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.cho {
	width: 81px;
	height: 61px;
	bottom: 368px;
	left: 377px;
}

ul#map li.cho:hover {
    /* background-position: 0 -950px; */
   	bottom: 368px;
	left: 377px;
    background-image: url(../../assets/images/landing/new/cho.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.mosque{
	width: 63px;
	height: 67px;
	bottom: 296px;
	left: 372px;
}

ul#map li.mosque:hover {
    /* background-position: 0 -950px; */
   	bottom: 296px;
	left: 372px;
    background-image: url(../../assets/images/landing/new/mosque.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.dost{
	width: 116px;
	height: 97px;
	bottom: 313px;
	left: 285px;
}

ul#map li.dost:hover {
    /* background-position: 0 -950px; */
   	bottom: 313px;
	left: 285px;
    background-image: url(../../assets/images/landing/new/dost.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}


.church{
	width: 52px;
	height: 57px;
	bottom: 197px;
	left: 545px;
}

ul#map li.church:hover {
    /* background-position: 0 -950px; */
   	bottom: 197px;
	left: 545px;
    background-image: url(../../assets/images/landing/new/church.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.uz{
	width: 84px;
	height: 81px;
	bottom: 391px;
	left: 412px;
}

ul#map li.uz:hover {
    /* background-position: 0 -950px; */
   	bottom: 391px;
	left: 412px;
    background-image: url(../../assets/images/landing/new/uz.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.dswd{
	width: 80px;
	height: 60px;
	bottom: 319px;
	left: 535px;
}

ul#map li.dswd:hover {
    /* background-position: 0 -950px; */
   	bottom: 319px;
	left: 535px;
    background-image: url(../../assets/images/landing/new/dswd.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.bus{
	width: 71px;
	height: 73px;
	bottom: 205px;
	left: 475px;
}

ul#map li.bus:hover {
    /* background-position: 0 -950px; */
   	bottom: 205px;
	left: 475px;
    background-image: url(../../assets/images/landing/new/bus.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.psa{
	width: 85px;
	height: 71px;
	bottom: 293px;
	left: 590px;
}

ul#map li.psa:hover {
    /* background-position: 0 -950px; */
   	bottom: 293px;
	left: 590px;
    background-image: url(../../assets/images/landing/new/psa.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.ched{
	width: 95px;
	height: 71px;
	bottom: 255px;
	left: 633px;
}

ul#map li.ched:hover {
    /* background-position: 0 -950px; */
   	bottom: 255px;
	left: 633px;
    background-image: url(../../assets/images/landing/new/ched.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.doh{
	width: 116px;
	height: 76px;
	bottom: 205px;
	left: 703px;
}

ul#map li.doh:hover {
    /* background-position: 0 -950px; */
   	bottom: 205px;
	left: 703px;
    background-image: url(../../assets/images/landing/new/doh.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.seaport{
	width: 128px;
	height: 112px;
	bottom: 98px;
	left: 721px;
}

ul#map li.seaport:hover{
    /* background-position: 0 -950px; */
   	bottom: 98px;
	left: 721px;
    background-image: url(../../assets/images/landing/new/seaport.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.zscmst {
	width: 189px;
	height: 112px;
	bottom: 119px;
	left: 593px;
}

ul#map li.zscmst:hover{
    /* background-position: 0 -950px; */
	bottom: 119px;
	left: 593px;
    background-image: url(../../assets/images/landing/new/zscmst.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.fire{
	width: 80px;
	height: 80px;
	bottom: 216px;
	left: 577px;
}

ul#map li.fire:hover {
    /* background-position: 0 -950px; */
   	bottom: 216px;
	left: 577px;
    background-image: url(../../assets/images/landing/new/fire.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.treehouse{
	width: 45px;
	height: 39px;
	bottom: 221px;
	left: 956px;
}

ul#map li.treehouse:hover {
    /* background-position: 0 -950px; */
   	bottom: 221px;
	left: 956px;
    background-image: url(../../assets/images/landing/new/treehouse.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.yakan{
	width: 138px;
	height: 81px;
	bottom: 150px;
	left: 796px;
}

ul#map li.yakan:hover {
    /* background-position: 0 -950px; */
	bottom: 150px;
	left: 796px;
    background-image: url(../../assets/images/landing/new/yakan.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.register{
	width: 87px;
	height: 66px;
	bottom: 443px;
	left: 179px;
}

ul#map li.register {
    /* background-position: 0 -950px; */
	bottom: 443px;
	left: 179px;
    background-image: url(../../assets/images/landing/new/designs/register.png);
	background-size: cover;
}

.stacruz{
	width: 65px;
	height: 64px;
	bottom: 143px;
	left: 204px;
	background-image: url(../../assets/images/landing/new/stacruz.png);
	background-size: cover;
}

ul#map li.stacruz:hover {
    /* background-position: 0 -950px; */
	bottom: 143px;
	left: 204px;
    background-image: url(../../assets/images/landing/new/stacruz.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.dakak{
	width: 170px;
	height: 95px;
	bottom: 69px;
	left: 1002px;
	background-image: url(../../assets/images/landing/island2.png);
	background-size: cover;
}

ul#map li.dakak:hover {
    /* background-position: 0 -950px; */
	bottom: 69px;
	left: 1002px;
    background-image: url(../../assets/images/landing/island2.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.vinta2{
	width: 66px;
	height: 52px;
	bottom: 54px;
	left: 392px;
}

ul#map li.vinta2 {
    /* background-position: 0 -950px; */
   	bottom: 54px;
	left: 392px;
    background-image: url(../../assets/images/landing/vinta.png);
	background-size: cover;
	transition: transform .5s; 
    animation: nudge 40s linear infinite alternate;
}

@keyframes nudge {
	0%{
		left: 40%;
	}
	50% {
		left: 70%
	}
}


.vinta3{
	width: 33px;
	height: 23px;
	bottom: 119px;
	left: 30px;
}

ul#map li.vinta3 {
    /* background-position: 0 -950px; */
   	bottom: 133px;
	left: 30px;
    background-image: url(../../assets/images/landing/vinta.png);
	background-size: cover;
	transition: transform .5s; 
    animation: nudge2 10s linear infinite alternate;
}

@keyframes nudge2 {
    0%{
      left: 20%;
    }
    50% {
     left: 30%
	}
	100% {
		left: 35%;
	}
  }

  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	background-image: linear-gradient( yellow , red);
}